<?xml version="1.0" encoding="UTF-8"?>
<!--!ATTENTION! Put this file to the "resources folder first"-->
<!--STATUS - attribute represents the level at which internal log4j events should be logged-->
<!--STRICT - enables the use of the strict XML format. Not supported in JSON configurations-->
<!--NAME - the name of the configuration-->
<!--PACKAGES - A comma separated list of package names to search for plugins. -->
<!--           Plugins are only loaded once per classloader so changing this value-->
<!--           may not have any effect upon reconfiguration-->
<!--More on https://logging.apache.org/log4j/log4j-2.2/manual/configuration.html-->
<Configuration status="OFF" strict="true" name="XMLConfig" packages="com.isvaso">

    <Properties>
        <Property name="filename">logs/log.log</Property>
    </Properties>

    <ThresholdFilter level="ALL" onMatch="ACCEPT" onMismatch="DENY"/>

    <Appenders>

        <RollingFile name="RollingFile" fileName="logs/log.log"
                     filePattern = "logs/%d{yyy-MM-dd}.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-1p] [%c{10}] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10KB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"
                           pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss} [%-1p] [%c{10}] - %m%n}{
                           FATAL=red blink,
                           ERROR=red,
                           WARN=yellow bold,
                           INFO=black,
                           DEBUG=green bold,
                           TRACE=blue}"/>
        </Console>

    </Appenders>

    <Loggers>

        <Logger name="com.isvaso" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <Logger name="org.springframework" level="DEBUG"/>
        <Root level="TRACE">
<!--            <AppenderRef ref="Console"/>-->
<!--            <AppenderRef ref="RollingFile"/>-->
        </Root>
    </Loggers>

</Configuration>