<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder
            location="classpath:configbyxml/application.properties"/>

    <bean id="jobBuilderBean"
          class="com.isvaso.configuration.confugurationbyxml.JobBuilder"
          init-method="init"
          destroy-method="destroy"/>

    <bean id="jobDoctorBean"
          class="com.isvaso.configuration.confugurationbyxml.JobDoctor"
          init-method="init"
          destroy-method="destroy"/>

    <bean id="personBean"
          class="com.isvaso.configuration.confugurationbyxml.Person"
          scope="prototype"
          init-method="init"
          destroy-method="destroy">
        <constructor-arg index="0" value="${person.name}"/>
        <constructor-arg index="1" value="${person.name}"/>
        <constructor-arg index="2" ref="jobBuilderBean"/>
        <!--Set new job-->
        <property name="job" ref="jobDoctorBean"/>
    </bean>


</beans>